/* CSS styles for all screen sizes */

@media only screen and (max-width: 768px) {
  /* CSS styles for SM screen size */
  .navbar{
    flex-wrap: wrap;
    flex-direction: column;
    height: 120px;
    /* align-items: center;
    justify-content: center; */
    padding: 20px;

   }

   /* Navbar */
   .navbar a{
    padding: 10px 10px;
    margin: 0 3px;
   }

   /* About */
   .flex-items{
    flex-direction: column;
    align-items: center;
   }

   .flex-columns .column{
    max-width: 100%;
    flex: 100%;
    flex-direction: column;
   }

   .flex-grid .column{
    flex: 50%;
   }



  #contact img{}
}

