 /* Body and Links */
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

 @import url('utilities.css');


 *{
  /* Reset */
  box-sizing: border-box; /* the width and height of an element is only calculated based on its content */
  margin: 0;
  padding: 0;
 }

 body{
  font-family: 'Open Sans', sans-serif;
  background: #fff; /*white background */
  line-height: 1.6;
  color: #333;/* Texts */

 }

 ul{
  list-style: none;
 }

a{
  text-decoration: none;
  color: #333;
 }

 h1, h2{
  font-weight: 300; /* How bold the font is */
  line-height: 1.2;
 }

 p{
  margin: 10px 0; /* Adding top and bottom */
 }

 img{
  width: 100%; /*take up all of their container */ 
 }

 /*Navbar */
 .navbar{
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content:space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px; /* Standard */
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;

 } 



 .navbar ul{
  display: flex;
 }

 .navbar a{
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
 }

 .navbar a:hover,
 .navbar a.current{
  border-bottom:2px solid var(--primary-color)
 }

 .navbar .logo{
  font-weight: 400;
 }

 .navbar.top{
  background: transparent;
 }

 /* Header/ Landing Page Image */

 .hero{
  background-image: url(../image_resources/home/showcase.jpg);
  background-repeat: no-repeat; /* the background image will not be repeated. */
  background-position: center center; /* "/cover" means that the background image will be resized to cover the entire area of the element, without stretching or distorting the image. */
  background-size: cover;
  height: 100vh;
  position: relative;
  color: #fff;
  }

  .hero .content{
    display: flex;
    flex-direction: column;
    height: 100%; /* Of container hero*/
    align-items: center; /* Align vertically */
    justify-content: center; /* Align Horizontally */
    text-align: center;
    padding: 0 20px;
  }

  .hero .content h1{
    font-size: 55px;
  }

  .hero .content p{
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px;
  }

  .hero.blog{
    background-image: url(../image_resources/home/blog.jpg);
    background-repeat: no-repeat; /* the background image will not be repeated. */
    background-position: center center; /* "/cover" means that the background image will be resized to cover the entire area of the element, without stretching or distorting the image. */
    background-size: cover;
    height: 30vh;


  }

  .hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Change the last value to adjust the darkness */
  }

  .hero *{ /* Everything in hero */
    z-index: 10; /* Bring to front */
  }

  /* Icons */
  .icons {
    padding: 30px;
    
  }

  .icons h3{
    font-weight: bold;
    margin-bottom: 15px;
  }

  .icons i{
    color: var(--white-utility-color);
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 50%; /* Make it a circle*/
    margin-bottom: 15px;
  }

  /* Business Case Section */
  .business-case .row img:hover{
    opacity: 0.7;
    cursor: pointer;
  }

  /* Team Section */
  #team img{
    border-radius: 50%;
  }

 .callback-form{
  width: 100%;
  padding: 20px 0;
 }

 .callback-form input:focus{
  outline-color: var(--primary-color);
 }

 .callback-form label{
  display: block;
  /* margin-bottom: 5px; */

 }

 .callback-form label::after{
  content: "";
  display: block;
  margin-bottom: 1px;
  
 }

 .callback-form input{
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid;
 }

 .callback-form .btn{
  padding: 12px 0;
  margin-top: 20px;

 }

   /* Post One Section */
   .post{
    padding: 50px 30px;
    flex-direction: column;
   }
   .post img{
    border-radius: 50%;
    width: 300px;
    display: block;
    margin: 0 auto 30px  

  }

  .post h2{
    font-size: 40px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: #ccc solid 1px;
  }

  .post .meta{
    margin-bottom: 30px;
  }
  


  /* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px   ;
}

footer a{
  color: var(--white-utility-color);
}

.footer .social > *{
  margin-right: 30px;
}

.footer .social a:hover{
  color: var(--primary-color) !important;
}

.footer p {
  margin: 10px 0;
  display: box;
  font-size: 20px;
}
 









  








